:root {
  --primary-color: #7aa2f7;
}

body {
  color: #c0caf5;
}

h1 {
  color: var(--primary-color);
}

pre {
  background-color: #16161e;
  padding: 10px;
  border-radius: 10px;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-auto-columns: minmax(250px, auto);
  grid-row-gap: 20px;
  padding-left: 2px;
}

/* li + li {
  margin-left: 10px;
} */

ul li a {
  position: relative;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
  background: #16161e;
  border-radius: 10px;
}

ul li a:hover {
  background: var(--primary-color);
  color: #16161e;
}

pre {
  overflow: auto;
}

.search {
  display: flex;
  margin-left: 2px;
}

.search input {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background: transparent;
  border: none;
  background-color: #16161e;
  outline: none;
  border: 1px solid transparent;
  caret-color: var(--primary-color);
  color: #c0caf5;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search input:focus {
  border-color: var(--primary-color);
}

.search svg {
  width: 100%;
  height: 100%;
}

.search .search-clear {
  color: var(--primary-color);
  cursor: pointer;
  width: 50px;
  height: 40px;
  background: #16161e;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search .search-clear:hover {
  background: var(--primary-color);
  color: #16161e;
}

@media only screen and (max-width: 390px) {
  ul {
    grid-template-columns: 90%;
    grid-row-gap: 20px;
  }

  .search {
    width: 80%;
  }
}

@media only screen and (min-width: 1224px) {
  .search {
    width: 50%;
  }
}