:root {
  --primary-color: #7aa2f7;
}

body {
  color: #c0caf5;
}

h1 {
  color: var(--primary-color);
}

pre {
  background-color: #16161e;
  padding: 10px;
  border-radius: 10px;
  overflow: auto;
  margin-top: 0;
}

.search {
  display: flex;
  height: 40px;
}

.search input {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background: transparent;
  border: none;
  background-color: #16161e;
  outline: none;
  border: 1px solid transparent;
  caret-color: var(--primary-color);
  color: #c0caf5;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search input:focus {
  border-color: var(--primary-color);
}

.search svg {
  width: 100%;
  height: 100%;
}

.search .search-clear {
  color: var(--primary-color);
  cursor: pointer;
  width: 50px;
  height: 100%;
  background: #16161e;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search .search-clear:hover {
  background: var(--primary-color);
  color: #16161e;
}

@media only screen and (max-width: 390px) {
  .search {
    width: 80%;
  }
}

@media only screen and (min-width: 1224px) {
  .search {
    width: 50%;
  }
}

.code.active pre:last-child {
  display: block;
}

.code.active > pre {
  display: none;
}

.code.active button:first-child {
  background-color: #16161e;
  color: #c0caf5;
}
.code.active button:last-child {
  background-color: #7aa2f7;
  color: #16161e;
}

.code button:first-child {
  margin-left: 20px;
  background-color: #7aa2f7;
  color: #16161e;
}

.code button:last-child {
  margin-left: -4px;
}

.code button {
  padding: 6px 32px;
  cursor: pointer;
  font-size: 18px;
  border: none;
  border-radius: 5px 5px 0 0;
  background-color: #16161e;
  color: #c0caf5;
  font-weight: bold;
}

.code pre:last-child {
  display: none;
}
